# Dependencies
node_modules
.github

# Build outputs
dist
out
build
release
data

# Coverage reports
coverage

# Logs
*.log

# Environment variables
.env
.env.*

# Package manager lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

# Platform-specific stuff
.DS_Store
Thumbs.db
